<section class="container py-4">
  <nav class="row">
    <div class="col-auto align-self-center">
      <img class="logo" width="30px" src="assets/icon/favicon.png" alt="">
    </div>
    <div class="col-3 p-0 align-self-center">
      <h2 class="primary-color">{{'roadmap' | translate}}</h2>
    </div>
    <div class="col-8 p-0 align-self-center">
      <div class="row justify-content-end">
        <div class="col-auto text-center align-self-center px-4" *ngFor="let link of links">
          <a class="nav-item" [routerLink]="[link.route]" routerLinkActive="active">{{link.label | translate}}</a>
        </div>
        <div class="col-auto">
          <ion-button shape="round" fill="clear" size="small" (click)="switchLanguage()">
            <ion-icon name="language-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="col-auto">
          <button tuiButton type="button" size="s" shape="rounded" appearance="primary" class="mw-70"
            (click)="navigatePreference()">
            {{'btn.login' | translate}} </button>
        </div>
        <div class="col-auto align-self-center">
          <button tuiButton type="button" size="s" shape="rounded" appearance="accent" class="mw-70">
            {{'btn.getApp' | translate}} </button>
        </div>
      </div>
    </div>
  </nav>
</section>
