<mat-stepper [linear]="true" labelPosition="bottom" class="h-100 p-5"
  [orientation]="isBelowLg? 'vertical': 'horizontal'">

  <!-- Info Step -->
  <mat-step label="{{'auth.info' | translate}}" [stepControl]="info">
    <form [formGroup]="info">
      <mat-form-field class="margin-top-step1">
        <mat-label>{{'form.companyName' | translate}}</mat-label>
        <input matInput type="text" formControlName="name"
          [ngClass]="{ 'is-invalid': infoSubmitted && infoCtrls['name'].errors }" required>
        <div *ngIf="infoSubmitted && infoCtrls['name'].errors" class="invalid-feedback">
          <div *ngIf="infoCtrls['name'].errors['required']">{{'validation.companyNameReq' | translate}}</div>
        </div>
      </mat-form-field>
      <div class="row mt-3">
        <div class="col-6">
          <div class="row">
            <div class="col-auto">
              <input hidden #logo type="file" accept='image/*' (click)="logo.value = null"
                (change)="uploadLogo($event)">
              <button tuiButton type="button" iconRight="tuiIconUpload" [showLoader]="isLogoLoading"
                (click)="logo.click()">
                {{'btn.uploadLogo' | translate}}
              </button>
            </div>
            <div class="col align-self-center">
              <div class="upload-image-container" *ngIf="info.value.logo">
                <img height="50px" [src]="info.value.logo" />
                <mat-icon (click)="deleteLogo()" class="close-icon">close</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-auto">
              <input hidden #cover type="file" accept='image/*' (click)="cover.value = null"
                (change)="uploadCoverImage($event)">
              <button tuiButton type="button" iconRight="tuiIconUpload" [showLoader]="isCoverLoading"
                (click)="cover.click()">
                {{'btn.uploadCover' | translate}}
              </button>
            </div>
            <div class="col align-self-center">
              <div class="upload-image-container" *ngIf="info.value.coverImage">
                <img height="50px" [src]="info.value.coverImage" />
                <mat-icon (click)="deleteCoverImage()" class="close-icon">close</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 text-end">
        <button mat-raised-button matStepperNext type="button" color="accent" (click)="infoSubmitted = true"
          [disabled]="info.invalid">{{'btn.next' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <!-- //Info Step -->

  <!-- Credentials Step -->
  <mat-step label="{{'auth.credentials' | translate}}" [stepControl]="credentials">
    <form [formGroup]="credentials">
      <mat-form-field class="margin-top-step2">
        <mat-label>{{'form.email' | translate}}</mat-label>
        <input matInput placeholder="{{'placeholder.email' | translate}}" type="email" formControlName="email"
          [ngClass]="{ 'is-invalid': credentialsSubmitted && credentialsCtrls['email'].errors }" required>
        <div *ngIf="credentialsSubmitted && credentialsCtrls['email'].errors" class="invalid-feedback">
          <div *ngIf="credentialsCtrls['email'].errors['required']">{{'validation.emailReq' | translate}}</div>
          <div *ngIf="credentialsCtrls['email'].errors['pattern']">{{'validation.emailInv' | translate}}</div>
        </div>
      </mat-form-field>

      <mat-form-field class="my-4">
        <mat-label>{{'form.password' | translate}}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
          [ngClass]="{ 'is-invalid': credentialsSubmitted && credentialsCtrls['password'].errors }">
        <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <div *ngIf="credentialsSubmitted && credentialsCtrls['password'].errors" class="invalid-feedback">
          <div *ngIf="credentialsCtrls['password'].errors['required']">{{'validation.passwordReq' | translate}}</div>
        </div>
      </mat-form-field>
      <div class="margin-top-action2 text-end">
        <button mat-stroked-button matStepperPrevious type="button" class="mx-3">{{'btn.back' | translate}}</button>
        <button mat-raised-button matStepperNext type="button" color="accent" (click)="credentialsSubmitted = true"
          [disabled]="credentials.invalid">{{'btn.next' |
          translate}}</button>
      </div>
    </form>
  </mat-step>
  <!-- //Credentials Step -->

  <!-- Work Domain Step -->
  <mat-step label="{{'auth.workDomain' | translate}}" [stepControl]="domain">
    <form [formGroup]="domain">
      <mat-form-field class="margin-top-step1">
        <mat-label>{{'auth.selectWorkDomain' | translate}}</mat-label>
        <mat-select [ngClass]="{ 'is-invalid': workDomainSubmitted && workDomainCtrls['workDomain'].errors }"
          (selectionChange)="selectWorkDomain($event.value)">
          <mat-option *ngFor="let wDomain of (workDomains$ | async)" [value]="wDomain">{{wDomain.text}}</mat-option>
        </mat-select>
        <div *ngIf="workDomainSubmitted && workDomainCtrls['workDomain'].errors" class="invalid-feedback">
          <div *ngIf="workDomainCtrls['workDomain'].errors['required']">{{'validation.workDomainReq' | translate}}</div>
        </div>
      </mat-form-field>
      <div class="margin-top-action1 text-end">
        <button mat-stroked-button matStepperPrevious type="button" class="mx-3">{{'btn.back' | translate}}</button>
        <button mat-raised-button matStepperNext type="button" color="accent" (click)="workDomainSubmitted = true"
          [disabled]="domain.invalid">{{'btn.next' |
          translate}}</button>
      </div>
    </form>
  </mat-step>
  <!-- //Work Domain Step -->

  <!-- Plan Step -->
  <!-- <mat-step [stepControl]="plan" label="{{'auth.plan' | translate}}">
    <form [formGroup]="plan">
      <div class="row margin-top-step2">
        <div class="col-12 col-xl-6 my-3" *ngFor="let plan of (plans$ | async); index as i">
          <mat-card class="cursor-pointer no-justify" [ngClass]="selectedPlan === i? 'selected': ''"
            (click)="selectPlan(plan); selectedPlan = i">
            <mat-card-title>
              <div class="row">
                <div class="col-3">
                  <mat-icon>tips_and_updates</mat-icon>
                </div>
                <div class="col-9 text-end">{{plan.name}}</div>
              </div>
            </mat-card-title>
            <mat-card-content>
              <div class="row py-1">
                <div class="col-9">
                  <p>{{'auth.allowedRoadmaps' | translate}}</p>
                </div>
                <div class="col-3 text-end">
                  <span>{{plan.roadMapsCount}}</span>
                </div>
              </div>
              <div class="row py-1">
                <div class="col-9">
                  <p>{{'auth.allowedOpenings' | translate}}</p>
                </div>
                <div class="col-3 text-end">
                  <span>{{plan.jobOpeningsCount}}</span>
                </div>
              </div>
              <div class="row py-1">
                <div class="col-9">
                  <p>{{'auth.allowedPotentials' | translate}}</p>
                </div>
                <div class="col-3 text-end">
                  <span>{{plan.pontentialsRowsCount}}</span>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div *ngIf="planSubmitted && planCtrls['plan'].errors" class="invalid-feedback">
          <div *ngIf="planCtrls['plan'].errors['required']">{{'validation.planReq' | translate}}</div>
        </div>
      </div>
    </form>
    <div class="margin-top-action2 text-end">
      <button mat-stroked-button matStepperPrevious type="button" class="mx-3">{{'btn.back' | translate}}</button>
      <button mat-raised-button matStepperNext type="button" color="accent" (click)="planSubmitted = true"
        [disabled]="plan.invalid">
        {{'btn.next' | translate}}
      </button>
    </div>
  </mat-step> -->
  <!-- //Plan Step -->

  <!-- Optional Step -->
  <mat-step label="{{'auth.extras' | translate}}" [stepControl]="optional" [optional]="true">
    <form [formGroup]="optional">
      <mat-form-field class="margin-top-step4 my-2">
        <mat-label>{{'form.website' | translate}}</mat-label>
        <input matInput type="url" formControlName="website" placeholder="www.example.com">
      </mat-form-field>
      <div class="row my-2 mb-3">
        <div class="col-12 col-sm-6">
          <mat-form-field>
            <mat-label>{{'form.numOfEmployees' | translate}}</mat-label>
            <input matInput type="number" formControlName="numOfEmployees" min="1" oninput="this.value = Math.round(this.value); this.value =
                  !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
            <div *ngIf="optionalCtrls['numOfEmployees'].errors" class="invalid-feedback">
              <div *ngIf="optionalCtrls['numOfEmployees'].errors['min']">{{'validation.numOfEmployeesGreater' |
                translate}}</div>
            </div>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <mat-form-field floatLabel="always">
            <mat-label>{{'form.timezone' | translate}}</mat-label>
            <span matPrefix>GMT&nbsp;</span>
            <input matInput type="text" formControlName="timeZone" placeholder="+02:00">
          </mat-form-field>
        </div>
      </div>

      <div class="row my-2">
        <div class="col-12 col-sm-6">
          <mat-form-field>
            <mat-label>{{'form.workStart' | translate}}</mat-label>
            <input matInput type="time" [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-6">
          <mat-form-field>
            <mat-label>{{'form.workEnd' | translate}}</mat-label>
            <input matInput type="time" [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
        </div>
      </div>

      <mat-form-field class="my-1">
        <mat-label>{{'form.about' | translate}}</mat-label>
        <textarea placeholder="{{'placeholder.aboutYourCompany' | translate}}" matInput rows="4" type="url"
          formControlName="about"></textarea>
      </mat-form-field>
      <div class="pt-2 mt-4">
        <div class="row justify-content-end">
          <div class="col col-sm-auto my-1 text-center">
            <button mat-raised-button matStepperNext type="button" (click)="skipAndCreateAccount()">{{'btn.skip' |
              translate}}</button>
          </div>
          <div class="col col-sm-auto my-1 text-center">
            <button mat-raised-button matStepperNext type="button" color="accent" (click)="createAccount()"
              [disabled]="optional.invalid">{{'btn.createAccount' | translate}}</button>
          </div>
        </div>
      </div>
    </form>
  </mat-step>
  <!-- //Optional Step -->
</mat-stepper>
