mat-stepper {
  background-color: unset;
}

mat-form-field {
  width: 100%;
}

.selected {
  background: var(--ion-color-primary);
  color: var(--ion-color-light);
}

.upload-image-container {
  position: relative;
  .close-icon {
    position: absolute;
    left: 0px;
    color: white;
    font-size: 14px;
    color: var(--warn-color);
  }
}
