<section class="container pt-5 pt-lg-0 h-100" @fade>
  <div class="row h-100">
    <div class="col-12 col-lg-6 order-last order-lg-first align-self-center">
      <tui-badge status="info" value="{{'badge.roadmap' | translate}}" [hoverable]="true">
        <tui-svg src="tuiIconFlag"></tui-svg>
      </tui-badge>
      <h3 class="primary-color pt-2">{{'empty.roadmapTitle' | translate}}</h3>
      <p class="pt-3">{{'empty.roadmapDesc' | translate}}</p>
      <div class="row py-4">
        <div class="col-12 col-sm text-center text-sm-start">
          <button tuiButton icon="tuiIconPlus" type="button" appearance="primary" (click)="openRoadmapDialog()"
            class="w-100 px-3 px-sm-0 my-2">
            {{'btn.addRoadmap' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="col py-5 py-lg-0 align-self-center">
      <img class="p-lg-5" src="assets/images/roadmap.svg" alt="">
    </div>
  </div>
</section>
