<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.processing' | translate}} </p>
</ngx-spinner>
<section class="container pt-5 pt-lg-0 h-100" @fade>
  <div class="row h-100">
    <div class="col py-5 py-lg-0 align-self-center">
      <img class="p-lg-5" src="assets/images/contactUs.svg" alt="">
    </div>
    <div class="col-12 col-lg-6 align-self-center">
      <tui-badge status="neutral" value="{{'badge.contactUs' | translate}}" [hoverable]="true">
        <tui-svg src="tuiIconComment"></tui-svg>
      </tui-badge>
      <h3 class="primary-color pt-2">{{'landing.contactUs.title' | translate}}</h3>
      <p class="pt-3">{{'landing.contactUs.description' | translate}}</p>
      <div class="row py-4">
        <div class="col">
          <!-- Form -->
          <form [formGroup]="reporter" (ngSubmit)="submit(formDirective)" #formDirective="ngForm">
            <div class="row">
              <div class="col-12 col-sm-6 tty-100">
                <mat-form-field appearance="fill" class="d-block w-100 slide-top" style="--animation-order: 0.3;">
                  <mat-label>{{'form.fullName' | translate}}</mat-label>
                  <input matInput placeholder="{{'placeholder.fullName' | translate}}" type="text"
                    formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }">
                  <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
                    <div *ngIf="f['fullName'].errors['required']">{{'validation.fullNameReq' | translate}}</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-12 col-sm-6 tty-100">
                <mat-form-field appearance="fill" class="d-block w-100 slide-top" style="--animation-order: 0.7;">
                  <mat-label>{{'form.email' | translate}}</mat-label>
                  <input matInput placeholder="{{'placeholder.email' | translate}}" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">{{'validation.emailReq' | translate}}</div>
                    <div *ngIf="f['email'].errors['pattern']">{{'validation.emailInv' | translate}}</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-12 tty-100">
                <mat-form-field appearance="fill" class="d-block w-100 slide-top" style="--animation-order: 1;">
                  <mat-label>{{'form.message' | translate}}</mat-label>
                  <textarea matInput rows="6" placeholder="{{'placeholder.message' | translate}}" type="text"
                    formControlName="message" [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"></textarea>
                  <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                    <div *ngIf="f['message'].errors['required']">{{'validation.messageReq' | translate}}</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col text-center text-sm-start py-3">
                <button tuiButton type="submit" appearance="primary">{{'btn.submit' |
                  translate}}</button>
              </div>
            </div>
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</section>
