.roadmap {
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 100ms ease-in-out;
}

.roadmap:hover {
  transform: scale(1.03);
}

.box {
  position: relative;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: var(--ion-color-primary);
  color: white;
}

.box-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 576px) {
  .box {
    transform: translateX(-100px);
    margin: 10px 0px;
  }
}

.ribbon-wrapper {
  position: absolute;
  height: 77px;
  top: 10px;
  width: 75px;
  right: -23px;
  transform: translate(-23px, -10px);
}

.ribbon {
  position: relative;
  width: 100px;
  padding: 5px;
  top: 10px;
  text-align: center;
  transform: rotate(45deg);
}
