<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.gettingRoadmaps' | translate}} </p>
</ngx-spinner>
<app-empty-roadmap *ngIf="isLoaded && !roadmaps.length" (hasRoadmap)="getCompanyRoadmaps()"></app-empty-roadmap>
<section class="container py-5 mt-4 mt-lg-0 pt-lg-0" @fade *ngIf="roadmaps.length">
  <div class="row ms-lg-3">
    <div class="col-12 col-lg-6 gx-5 mt-3" *ngFor="let roadmap of roadmaps">
      <mat-card class="roadmap mt-5 mat-elevation-z0 cursor-pointer"
        routerLink="update-roadmap/{{roadmap.departmentId}}/{{roadmap._id}}">
        <div class="ribbon-wrapper overflow-hidden">
          <div class="ribbon accent-bg white-color" *ngIf="roadmap.published">{{'rdmap.published' | translate}}</div>
          <div class="ribbon light-bg accent-color" *ngIf="!roadmap.published">{{'rdmap.draft' | translate}}</div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-auto">
            <div class="box">
              <mat-icon class="box-icon">route</mat-icon>
            </div>
          </div>
          <div class="col align-self-center">
            <mat-chip-list>
              <p>
                <mat-chip selected>{{roadmap.department.name}}</mat-chip>
                <mat-chip selected>{{roadmap.title}}</mat-chip>
              </p>
            </mat-chip-list>
            <p class="pt-4 ps-2">
              <span>{{'rdmap.updatedAt' | translate}}</span>
              <span class="px-1 accent-color">{{roadmap.updatedAt | date: 'longDate'}}</span>
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <!-- *Add Button* -->
  <button mat-fab color="accent" class="bottom-right" (click)="openRoadmapDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <!-- //Add Button -->
</section>
