<section class="container pt-5 pt-lg-0 h-100" @fade>
  <div class="row h-100">
    <div class="col py-5 py-lg-0 align-self-center">
      <img class="p-lg-5" src="assets/images/about.svg" alt="">
    </div>
    <div class="col-12 col-lg-6 align-self-center">
      <tui-badge status="success" value="{{'badge.aboutUs' | translate}}" [hoverable]="true">
        <tui-svg src="tuiIconBookmark"></tui-svg>
      </tui-badge>
      <h3 class="primary-color pt-2">{{'landing.about.title' | translate}}</h3>
      <p class="pt-3">{{'landing.about.description' | translate}}</p>
      <div class="row py-4">
        <tui-accordion class="container">
          <tui-accordion-item>
            <h5 class="primary-color">{{'landing.about.step1Title' | translate}}</h5>
            <ng-template tuiAccordionItemContent>
              <p>{{'landing.about.step1Description' | translate}}</p>
              <button tuiButton icon="tuiIconUsers" type="button" appearance="primary" class="w-100 px-3 px-sm-0 my-2"
                [routerLink]="['/auth/sign-up']">
                {{'btn.signUp' | translate}}
              </button>
            </ng-template>
          </tui-accordion-item>
          <tui-accordion-item>
            <h5 class="primary-color">{{'landing.about.step2Title' | translate}}</h5>
            <ng-template tuiAccordionItemContent>
              <p>{{'landing.about.step2Description' | translate}}</p>
              <p class="pt-2">
                <tui-svg src="tuiIconCheck" class="accent-color"></tui-svg>
                <span>{{'landing.about.step2Description1' | translate}}</span>
              </p>
              <p>
                <tui-svg src="tuiIconCheck" class="accent-color"></tui-svg>
                <span>{{'landing.about.step2Description2' | translate}}</span>
              </p>
              <p>
                <tui-svg src="tuiIconCheck" class="accent-color"></tui-svg>
                <span>{{'landing.about.step2Description3' | translate}}</span>
              </p>
            </ng-template>
          </tui-accordion-item>
          <tui-accordion-item>
            <h5 class="primary-color">{{'landing.about.step3Title' | translate}}</h5>
            <ng-template tuiAccordionItemContent>
              <p>{{'landing.about.step3Description' | translate}}</p>
            </ng-template>
          </tui-accordion-item>
        </tui-accordion>
      </div>
    </div>
  </div>
</section>
