<mat-spinner class="m-auto" *ngIf="!isLoaded"></mat-spinner>


<section *ngIf="isLoaded && !roadmaps.length" @fade>
  <div class="row">
    <div class="col-auto">
      <img class="pb-lg-5 px-lg-5" src="assets/images/departmentRoadmap.svg">
    </div>
  </div>
  <div class="row pt-3 pt-lg-0 text-center justify-content-center">
    <div class="col-auto align-self-center text-center py-3">
      <h6>{{'department.noRoadmaps' | translate}}</h6>
    </div>
    <div class="col-auto">
      <button tuiButton type="submit" appearance="outline" (click)="openRoadmapDialog()">{{'btn.addRoadmap' |
        translate}}</button>
    </div>
  </div>
</section>

<section *ngIf="isLoaded && roadmaps.length" @fade class="mt-n0-7">
  <h3 class="primary-color pb-2 pt-3">{{'department.roadmaps' | translate}}</h3>
  <mat-card class="mt-1" *ngFor="let roadmap of roadmaps | slice:-2">
    <mat-card-title-group>
      <mat-card-title>{{roadmap.title}}</mat-card-title>
      <mat-card-subtitle>{{roadmap.createdAt | date: 'short'}}</mat-card-subtitle>
      <mat-icon>route</mat-icon>
    </mat-card-title-group>
    <mat-card-content>
      {{roadmap.description}}
    </mat-card-content>
  </mat-card>
  <div class="wrap" *ngIf="roadmaps.length > 2">
    <button class="more" routerLink="/panel/roadmaps">{{'btn.showMore' | translate}}</button>
  </div>
  <div class="row justify-content-center justify-content-sm-start" [ngClass]="roadmaps.length > 2? '': 'pt-10'">
    <div class="col-auto">
      <button tuiButton type="button" icon="tuiIconPlus" appearance="outline" (click)="openRoadmapDialog()"
        class="mt-n0-1">{{'btn.addMoreRoadmaps' |
        translate}}</button>
    </div>
  </div>
</section>
