.wrap {
  height: 100%;
  display: flex;
  place-content: flex-end;
}

.more {
  position: relative;
  top: -30px;
  width: 140px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  background-color: var(--ion-color-light);
  border-radius: 50px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.more:hover {
  background-color: var(--ion-color-secondary);

  box-shadow: 0px 15px 20px rgba(var(--ion-color-secondary-rgb), 0.4);
  transform: translateY(-3px);
}

mat-card:nth-child(3) {
  -webkit-mask-image: linear-gradient(to bottom, black 1%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 1%, transparent 100%);
}
