<div [matMenuTriggerFor]="menu" class="cursor-pointer">
  <img class="avatar" *ngIf="logo" [src]="logo">
  <img class="avatar" *ngIf="!logo" src="https://via.placeholder.com/50">
  <mat-icon class="tty-10">arrow_drop_down</mat-icon>
</div>
<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item [routerLink]="['/panel/profile']">
    <mat-icon>settings</mat-icon>
    <span>{{'form.profile' | translate}}</span>
  </button> -->
  <button mat-menu-item (click)="signout()">
    <mat-icon>logout</mat-icon>
    <span>{{'btn.signout' | translate}}</span>
  </button>
  <button mat-menu-item (click)="switchLanguage()">
    <mat-icon>translate</mat-icon>
  </button>
</mat-menu>
