::ng-deep {
  #js-licensing {
    display: none !important;
  }

  #diagramcontent {
    position: initial !important;
    display: block;
  }
}

.top-left {
  position: absolute;
  top: 125px;
  right: 0px;
}
