<mat-spinner class="absolute-center" *ngIf="!isLoaded"></mat-spinner>

<section *ngIf="this.isLoaded">
  <app-graph-editor [nodes]="nodes" [tool]="tool" (nodeSettings)="notify($event)" (nodesChanged)="updateNodes($event)"
    class="d-flex" *ngIf="trigger"></app-graph-editor>
  <mat-fab-menu color="accent" [fabButtons]="tools" direction="bottom" class="top-left"
    (onFabMenuItemSelected)="chooseTool($event)"></mat-fab-menu>
  <app-node-settings *ngIf="isOpen" [nodeSettings]="nodeSettings" (nodeUpdate)="updateNodes($event)"
    (toggle)="toggle()" class="bottom-right">
  </app-node-settings>
</section>
