<section class="container pt-5 pt-lg-0 h-100" @fade>
  <div class="row h-100">
    <div class="col-12 col-lg-6 order-last order-lg-first align-self-center text-center">
      <tui-badge status="info" value="Nodes" [hoverable]="true">
        <tui-svg src="tuiIconFlag"></tui-svg>
      </tui-badge>
      <h3 class="primary-color pt-2">Build your first node</h3>
      <p class="pt-3">You need to have a node first to associate it with questions.</p>
      <div class="row py-4">
        <div class="col-12 col-sm text-center">
          <button tuiButton icon="tuiIconPlus" type="button" appearance="primary" class="px-3 px-sm-0 my-2"
            [routerLink]="['/panel/roadmaps', rdId , 'editor']">
            {{'Start adding nodes' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="col py-5 py-lg-0 align-self-center">
      <img class="p-lg-5" src="assets/images/nodes.svg" alt="">
    </div>
  </div>
</section>
