<section class="container pt-5 pt-lg-0 h-100" @fade>
  <div class="row h-100">
    <div class="col-12 col-lg-6 order-last order-lg-first align-self-center text-center">
      <div class="ps-2">
        <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>
      </div>
      <tui-badge status="info" value="Questions" [hoverable]="true">
        <tui-svg src="tuiIconFlag"></tui-svg>
      </tui-badge>
      <h3 class="primary-color pt-2">Add your first question</h3>
      <p class="pt-3">You don't have any questions associated with this node yet.</p>
      <div class="row py-4">
        <div class="col-12 col-sm text-center">
          <button tuiButton icon="tuiIconPlus" type="button" appearance="primary" class="px-3 px-sm-0 my-2" (click)="add.emit()">
            {{'Start adding questions' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="col py-5 py-lg-0 align-self-center">
      <img class="p-lg-5" src="assets/images/questions.svg" alt="">
    </div>
  </div>
</section>
