input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 50px #f5f5f5 inset;
}

@media (prefers-color-scheme: dark) {
  input:-webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 0 50px #424242 inset;
  }
}

mat-form-field {
  font-size: 16px;
}

::ng-deep .mat-dialog-container {
  overflow-y: hidden !important;
}
