<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.securityChecks' | translate}} </p>
</ngx-spinner>
<ion-content>
  <section class="container px-3 px-sm-0 h-100">
    <div class="row h-100">
      <app-home-button class="px-lg-5 mx-lg-4 pt-1"></app-home-button>
      <div class="col py-5 py-lg-0 align-self-center">
        <img class="p-lg-5" src="assets/images/login.svg" alt="">
      </div>
      <div class="col-12 col-lg-6 align-self-center">
        <tui-badge status="info" value="{{'badge.unleash' | translate}}" [hoverable]="true">
          <tui-svg src="tuiIconLock"></tui-svg>
        </tui-badge>
        <h3 class="primary-color pt-2">{{'auth.login' | translate}}</h3>
        <form [formGroup]="login" (ngSubmit)="submit()">
          <div class="row py-2">
            <div class="col-12">
              <mat-form-field appearance="fill" class="d-block w-100">
                <mat-label>{{'form.email' | translate}}</mat-label>
                <input matInput placeholder="{{'placeholder.email' | translate}}" type="email" formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" autocomplete="email">
                <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">{{'validation.emailReq' | translate}}</div>
                  <div *ngIf="f['email'].errors['pattern']">{{'validation.emailInv' | translate}}</div>
                </div>
              </mat-form-field>
            </div>
            <div class="col-12">
              <mat-form-field appearance="fill" class="d-block w-100">
                <mat-label>{{'form.password' | translate}}</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                  [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                  <div *ngIf="f['password'].errors['required']">{{'validation.passwordReq' | translate}}</div>
                </div>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-checkbox>
                {{'form.rememberMe' | translate}}
              </mat-checkbox>
            </div>
            <div class="col-6 text-end">
              <span>{{'form.forgotPassword' | translate}}</span>
            </div>
            <div class="col-12 text-center text-sm-start py-3">
              <button tuiButton icon="tuiIconLock" type="submit" appearance="primary" class="w-100 my-2"
                [disabled]="login.invalid">
                {{'btn.login' | translate}}
              </button>
            </div>
          </div>
        </form>
        <div class="row py-2 pb-4">
          <div class="col text-center">
            <span class="px-2">{{'form.dontHaveAccount' | translate}}</span>
            <a [routerLink]="['/auth/sign-up']" class="primary-color">{{'btn.signUp' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</ion-content>
