<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'Getting Roadmap Nodes' | translate}} </p>
</ngx-spinner>
<app-empty-nodes *ngIf="isLoaded && !nodes.length" [rdId]="rdId"></app-empty-nodes>
<section class="container py-5 mt-5 mt-lg-0 pt-lg-0" @fade *ngIf="nodes.length">
  <div class="ps-2">
    <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>
  </div>
  <div class="row p-2">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let node of nodes">
      <div class="card mat-elevation-z1 mb-3" [routerLink]="['nodes', node._id]">
        <div class="row g-0 align-items-center">
          <div class="col-auto" [ngClass]="node.type === 'leaf'? 'bg1' : node.type === 'section'? 'bg2': 'bg3'">
            <mat-icon class="mt-2" *ngIf="node.type === 'leaf'">eco</mat-icon>
            <mat-icon class="mt-2" *ngIf="node.type === 'section'">account_tree</mat-icon>
            <mat-icon class="mt-2" *ngIf="node.type === 'roadmap'">signpost</mat-icon>
          </div>
          <div class="col">
            <div class="card-body">
              <h5 class="card-title">{{node.label}}</h5>
              <p class="card-text">This node requires {{node.requiredHoursToStudy}} hours of study,
                {{node.quantityOfRequiredQ}} required questions, and {{node.quantityOfOptionalQ}} optional
                questions.</p>
              <p class="card-text"><small class="text-muted">Access type: {{node.accessType}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
