.bg1 {
  background-color: #36ae7c;
}
.bg2 {
  background-color: #081158;
}
.bg3 {
  background-color: #e5b25d;
}

mat-icon {
  color: white;
}

.card {
  cursor: pointer;
  transition: all 80ms;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}
