<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.creatingDepartment' | translate}} </p>
</ngx-spinner>
<section class="container pt-5" @fade>
  <div class="row">
    <div class="col py-5 py-lg-0 align-self-center">
      <img class="p-lg-5" src="assets/images/addDepartment.svg" alt="">
    </div>
    <div class="col-12 col-lg-6 align-self-center">
      <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>
      <h3 class="primary-color pt-2">{{'department.title' | translate}}</h3>
      <p class="pt-3">{{'department.description' | translate}}</p>
      <div class="row py-4">
        <div class="col">
          <!-- Form -->
          <form [formGroup]="department" (ngSubmit)="submit()">
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="fill" class="d-block w-100">
                  <mat-label>{{'form.departmentName' | translate}}</mat-label>
                  <input matInput placeholder="{{'placeholder.departmentName' | translate}}" type="text"
                    formControlName="name" [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
                  <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                    <div *ngIf="f['name'].errors['required']">{{'validation.departmentNameReq' | translate}}</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="fill" class="d-block w-100">
                  <mat-label>{{'form.description' | translate}}</mat-label>
                  <textarea matInput rows="6" placeholder="{{'placeholder.description' | translate}}" type="text"
                    formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
                  <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                    <div *ngIf="f['description'].errors['required']">{{'validation.descriptionReq' | translate}}</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col text-center text-sm-start py-3">
                <button tuiButton type="submit" appearance="primary">{{'btn.submit' |
                  translate}}</button>
              </div>
            </div>
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
  </div>
</section>
