<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button color="accent" menu="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start" color="primary" class="px-0">{{'roadmap' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="menu" contentId="main" #menu>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{'roadmap' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list lines="none">
      <ion-menu-toggle>
        <ion-item *ngFor="let link of links">
          <ion-icon [name]="link.icon" color="secondary" class="size-18 px-2"></ion-icon>
          <a class="nav-item" [routerLink]="[link.route]">{{link.label | translate}}</a>
        </ion-item>
        <ion-item (click)="switchLanguage()">
          <ion-icon name="language" color="secondary" class="size-18 px-2"></ion-icon>
          <a class="nav-item">{{'navbar.switchLanguage' | translate}}</a>
        </ion-item>
        <ion-item>
          <ion-button color="secondary" class="w-100" (click)="navigatePreference()">
            {{'btn.login' | translate}}
          </ion-button>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
