<mat-nav-list class="py-0 overflow-x-hidden">
  <div class="row primary-bg white-color">
    <div class="col">
      <p class="py-3 px-4 size-18">{{company.name}}</p>
    </div>
  </div>
  <a mat-list-item *ngFor="let link of companyLinks" [routerLink]="[link.route]" (click)="emitSidenavClose()"
    routerLinkActive="active">
    <mat-icon class="accent-color">{{link.icon}}</mat-icon>
    <span class="px-2 pt-2">{{link.label | translate}}</span>
  </a>
</mat-nav-list>
