<ejs-diagram #diagram id="diagram" width="100%" height="420px" [getConnectorDefaults]='connDefaults'
  class="overflow-hidden" [getNodeDefaults]='nodeDefaults' [tool]='tool' [layout]='layout' [snapSettings]='snapSettings'
  (created)="created()">
  <e-nodes>
    <e-node *ngFor="let node of nodes; index as i" [id]="node._id" [annotations]="node"
      [offsetX]="nodes.length ===1? 250: ''" [offsetY]="nodes.length === 1? 150: ''">
      <e-node-annotations>
        <e-node-annotation [id]="node._id" [content]="node.label">
        </e-node-annotation>
      </e-node-annotations>
    </e-node>
  </e-nodes>
  <e-connectors>
    <e-connector *ngFor="let connection of connections" [sourceID]="connection.parent" [targetID]="connection.id">
    </e-connector>
  </e-connectors>
</ejs-diagram>
