<head>
  <meta charset="utf-8" />
  <title>Roadmap</title>
  <link rel="stylesheet" href="splash.css">
</head>
<div class="container">
  <div class="scroller">
    <div class="inner">
      <span>Protable version</span>
      <span>For managing company</span>
      <span>Used by <a class="gold">Roadmap ©</a> <a class="gold-next">Companies</a>.</span>
    </div>
  </div>
</div>
