<mat-toolbar color="primary" class="z-999">
  <div *ngIf="isBelowMd">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a [routerLink]="['/panel/dashboard']" class="nav-item">{{company.name}}</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" *ngIf="!isBelowMd">
    <ul fxLayout>
      <li *ngFor="let link of companyLinks" class="px-3">
        <a [routerLink]="[link.route]" class="nav-item" [routerLinkActive]="'active'">{{link.label | translate}}</a>
      </li>
      <li>
        <app-avatar></app-avatar>
      </li>
    </ul>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" *ngIf="isBelowMd">
    <ul fxLayout>
      <li>
        <app-avatar></app-avatar>
      </li>
    </ul>
  </div>
</mat-toolbar>
