mat-toolbar {
  border-radius: 20px;
  width: 82%;
  margin: 20px auto;
  min-height: 70px;
  position: unset;
}
@media (max-width: 992px) {
  mat-toolbar {
    border-radius: 0px;
    width: 100%;
    margin: unset;
    position: fixed;
  }
}

.nav-item {
  color: white;
}

li {
  align-self: center;
}

a.nav-item.active {
  color: unset !important;
}
