<ion-button fill="clear" size="small" shape="round" routerLink="/home">
  <ion-icon name="chevron-back-outline"></ion-icon>
  <ion-label class="px-2 pt-1">{{'btn.home' | translate}}</ion-label>
</ion-button>
