<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'Processing' | translate}} </p>
</ngx-spinner>
<app-empty-questions *ngIf="isLoaded && !questions.length" [rdId]="rdId" [nodeId]="nodeId" (add)="openAddQuestionDialog()"></app-empty-questions>
<div class="container-lg py-5 mt-5 mt-lg-0 pt-lg-0" @fade *ngIf="isLoaded && questions.length">
  <div class="ps-2">
    <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="table-striped w-100">
    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="bg-primary color-white text-14">
        Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type === 'singleChoice'? "Single Choice" : "Multiple Choice"}}
      </td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="bg-primary color-white text-14">
        Level</th>
      <td mat-cell *matCellDef="let element"> {{element.level | titlecase}} </td>
    </ng-container>

    <!-- Text Column -->
    <ng-container matColumnDef="text">
      <th mat-header-cell mat-sort-header *matHeaderCellDef class="bg-primary color-white text-14">
        Question</th>
      <td mat-cell *matCellDef="let element">{{element.text}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="bg-primary"></th>
      <td mat-cell *matCellDef="let element; index as i">
        <button mat-flat-button color="primary" class="mx-2" (click)="openUpdateDialog(element)">
          {{'btn.update' | translate}}
        </button>
        <button mat-stroked-button color="warn" class="btn-delete" (click)="openDialog(element._id)">
          {{'btn.delete' | translate}}
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <!-- *Add Button* -->
  <button mat-fab color="accent" class="bottom-right" (click)="openAddQuestionDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>
