th {
  color: white;
  font-size: 15px;
}

::ng-deep {
  [dir="ltr"] {
    th.mat-header-cell:first-child {
      border-radius: 8px 0 0 0;
    }
    th.mat-header-cell:last-child {
      border-radius: 0px 8px 0px 0px;
    }
  }

  [dir="rtl"] {
    th.mat-header-cell:first-child {
      border-radius: 0 8px 0 0;
    }
    th.mat-header-cell:last-child {
      border-radius: 0px 8px 0px 0px;
    }
  }

  td:last-child {
    text-align: end;
  }

  td.mat-cell {
    min-width: 100px;
    white-space: nowrap;
  }
}

.table-striped {
  overflow-x: auto;
}
