<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.processing' | translate}} </p>
</ngx-spinner>
<section>
  <h2 mat-dialog-title class="text-start">Question Info</h2>
  <form [formGroup]="question" (ngSubmit)="submit()">
    <div class="row pt-3">
      <div class="col-12">
        <label class="text-14 m-0">Question Type</label>
        <mat-form-field appearance="fill" class="d-block w-100">
          <mat-select placeholder="Type" formControlName="type"
            [ngClass]="{ 'is-invalid': submitted && f['type'].errors }" (selectionChange)="handleOptionControls($event)">
            <mat-option [value]="'singleChoice'">Single Choice</mat-option>
            <mat-option [value]="'multipleChoice'">Multiple Choice</mat-option>
          </mat-select>
          <div *ngIf="submitted && f['type'].errors" class="invalid-feedback">
            <div *ngIf="f['type'].errors['required']">Question type is a required field</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12">
        <label class="text-14 m-0">Question Level</label>
        <mat-form-field appearance="fill" class="d-block w-100">
          <mat-select placeholder="Level" formControlName="level"
            [ngClass]="{ 'is-invalid': submitted && f['level'].errors }">
            <mat-option [value]="'easy'">Easy</mat-option>
            <mat-option [value]="'medium'">Medium</mat-option>
            <mat-option [value]="'Hard'">Hard</mat-option>
          </mat-select>
          <div *ngIf="submitted && f['level'].errors" class="invalid-feedback">
            <div *ngIf="f['level'].errors['required']">Question level is a required field</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="d-block w-100">
          <mat-label>The Question</mat-label>
          <input matInput placeholder="What is.." type="text" formControlName="text"
            [ngClass]="{ 'is-invalid': submitted && f['text'].errors }">
          <div *ngIf="submitted && f['text'].errors" class="invalid-feedback">
            <div *ngIf="f['text'].errors['required']">The question is a required field</div>
          </div>
        </mat-form-field>
      </div>
      <ng-container formArrayName="options">
        <ng-container *ngFor="let opt of optionForm.controls; index as i">
          <div [formGroupName]="i" class="py-2">
            <div class="row">
              <div class="col">
                <div class="row">
                  <div class="col align-self-center">
                    <mat-form-field appearance="outline" class="d-block w-100">
                      <mat-label>Option {{i+1}}</mat-label>
                      <input matInput placeholder="Option.." type="text" formControlName="text"
                        [ngClass]="{ 'is-invalid': submitted && getFormController(i, 'text').errors }">
                      <div *ngIf="submitted && getFormController(i, 'text').errors" class="invalid-feedback">
                        <div *ngIf="getFormController(i, 'text').errors['required']">
                          Option is a required field
                        </div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-auto align-self-center">
                    <mat-checkbox formControlName="isCorrect" (change)="disableField()">Correct</mat-checkbox>
                  </div>
                  <div class="col-auto pt-1" *ngIf="optionForm.controls.length > 2">
                    <button mat-icon-button color="warn" class="mt-2" (click)="deleteOptionForm(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <p *ngIf="submitted && !oneCorrect" style="color: red">There should be at least one correct answer</p>
      </ng-container>
      <div class="row">
        <div class="col px-1 my-2 text-start">
          <button mat-icon-button type="button" (click)="addOptionForm()">
            <mat-icon>add_circle</mat-icon>
          </button>
          <span class="d-inline-block px-1 tty-2">Add Option</span>
        </div>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-flat-button type="submit" color="accent">{{'btn.update' | translate}}</button>
      <button mat-button type="button" (click)="cancel()" color="primary">{{'btn.cancel' | translate}}</button>
    </div>
  </form>
</section>
