<div class="card card-stats mb-4 mb-xl-0">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted mb-0">{{title}}</h5>
        <span class="h2 font-weight-bold mb-0">{{stat}}</span>
      </div>
      <div class="col-auto">
        <div class="icon icon-shape text-white {{bg}} rounded-circle shadow">
          <i class="{{icon}}"></i>
        </div>
      </div>
    </div>
    <p class="mt-3 mb-0 text-muted text-sm">
      <span [ngClass]="isUp? 'text-success': 'text-danger'" class="me-2"><i class="fa pe-1"
          [ngClass]="isUp? 'fa-arrow-up':'fa-arrow-down'"></i>{{percentage}}</span>
      <span class="text-nowrap ps-2">{{phrase}}</span>
    </p>
  </div>
</div>
