<mat-spinner class="m-auto" *ngIf="!isLoaded"></mat-spinner>
<section *ngIf="this.isLoaded && !nodes.length" @fade>
  <div class="row">
    <div class="col-auto">
      <img class="pb-lg-5 px-lg-5" src="assets/images/roadmap.svg">
    </div>
  </div>
  <div class="row pt-3 pt-lg-0 text-center justify-content-center">
    <div class="col-auto align-self-center text-center py-3">
      <h6>{{'node.noNodes' | translate}}</h6>
    </div>
  </div>
</section>

<section *ngIf="this.isLoaded && nodes.length">
  <app-graph-thumb [nodes]="nodes" class="d-flex"></app-graph-thumb>
</section>
