<div *tuiSidebar="isOpen; direction: 'left'" class="sidebar">
  <div class="row">
    <div class="col align-self-center">
      <h4>Node Properties</h4>
    </div>
    <div class="col-auto">
      <button mat-icon-button type="button" (click)="emitToggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <form [formGroup]="nodeForm" (ngSubmit)="submit()" class="full-height-container pt-4">
    <div class="row">
      <div class="col-12">
        <mat-form-field appearance="outline" class="d-block w-100">
          <mat-label>{{'form.nodeLabel' | translate}}</mat-label>
          <input matInput placeholder="{{'placeholder.nodeLabel' | translate}}" type="text" formControlName="label"
            [ngClass]="{ 'is-invalid': submitted && f['label'].errors }">
          <div *ngIf="submitted && f['label'].errors" class="invalid-feedback">
            <div *ngIf="f['label'].errors['required']">{{'validation.labelReq' | translate}}</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12 pb-4 px-3">
        <mat-label class="d-block py-2">{{'form.accessType' | translate}}</mat-label>
        <mat-radio-group formControlName="accessType" class="d-flex justify-content-between"
          [ngClass]="{ 'is-invalid': submitted && f['accessType'].errors }">
          <mat-radio-button *ngFor="let type of accessTypes" [value]="type.value">{{type.name}}
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="submitted && f['accessType'].errors" class="invalid-feedback">
          <div *ngIf="f['accessType'].errors['required']">{{'validation.accessTypeReq' | translate}}</div>
        </div>
      </div>
    </div>
    <tui-accordion [rounded]="true">
      <tui-accordion-item>
        Node Common Settings
        <ng-template tuiAccordionItemContent>
          <div class="row">
            <div class="col">
              <mat-form-field appearance="outline" class="d-block w-100">
                <mat-label>{{'form.requiredHoursToStudy' | translate}}</mat-label>
                <input matInput placeholder="{{'placeholder.requiredHoursToStudy' | translate}}" type="number" min="0"
                  formControlName="requiredHoursToStudy"
                  [ngClass]="{ 'is-invalid': submitted && f['requiredHoursToStudy'].errors }">
                <div *ngIf="submitted && f['requiredHoursToStudy'].errors" class="invalid-feedback">
                  <div *ngIf="f['requiredHoursToStudy'].errors['required']">{{'validation.requiredHoursToStudyReq' |
                    translate}}</div>
                </div>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="d-block w-100">
                <mat-label>{{'form.quantityOfRequiredQ' | translate}}</mat-label>
                <input matInput placeholder="{{'placeholder.quantityOfRequiredQ' | translate}}" type="number" min="0"
                  formControlName="quantityOfRequiredQ"
                  [ngClass]="{ 'is-invalid': submitted && f['quantityOfRequiredQ'].errors }">
                <div *ngIf="submitted && f['quantityOfRequiredQ'].errors" class="invalid-feedback">
                  <div *ngIf="f['quantityOfRequiredQ'].errors['required']">{{'validation.fieldReq' | translate}}</div>
                </div>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field appearance="outline" class="d-block w-100">
                <mat-label>{{'form.quantityOfOptionalQ' | translate}}</mat-label>
                <input matInput placeholder="{{'placeholder.quantityOfRequiredQ' | translate}}" type="number" min="0"
                  formControlName="quantityOfOptionalQ"
                  [ngClass]="{ 'is-invalid': submitted && f['quantityOfOptionalQ'].errors }">
                <div *ngIf="submitted && f['quantityOfOptionalQ'].errors" class="invalid-feedback">
                  <div *ngIf="f['quantityOfOptionalQ'].errors['required']">{{'validation.fieldReq' | translate}}</div>
                </div>
              </mat-form-field>
            </div>
          </div>
        </ng-template>
      </tui-accordion-item>
      <tui-accordion-item>
        Supplements
        <ng-template tuiAccordionItemContent>
          <ng-container formArrayName="supplements">
            <ng-container *ngFor="let sup of supplementForm.controls; index as i">
              <div [formGroupName]="i" class="py-2">
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <mat-form-field appearance="outline" class="d-block w-100">
                          <mat-label>{{'form.resource' | translate}}</mat-label>
                          <input matInput placeholder="{{'placeholder.resource' | translate}}" type="text"
                            formControlName="supplement"
                            [ngClass]="{ 'is-invalid': submitted && getFormController(i, 'supplement').errors }">
                          <div *ngIf="submitted && getFormController(i, 'supplement').errors" class="invalid-feedback">
                            <div *ngIf="getFormController(i, 'supplement').errors['required']">
                              {{'validation.resourceReq' |
                              translate}}
                            </div>
                          </div>
                        </mat-form-field>
                      </div>
                      <div class="col-auto pt-1" *ngIf="supplementForm.controls.length > 1">
                        <button mat-icon-button color="warn" class="mt-2" (click)="deleteSupplementForm(i)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>
          <div class="row">
            <div class="col px-1 my-2 text-start">
              <button mat-icon-button type="button" (click)="addSupplementForm()">
                <mat-icon>add_circle</mat-icon>
              </button>
              <span class="d-inline-block px-1 tty-2">{{'btn.addResource' | translate}}</span>
            </div>
          </div>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
    <div class="row">
      <div class="col-12">
        <mat-checkbox [(ngModel)]="referenceIdReq" [ngModelOptions]="{standalone: true}" (change)="getRoadmaps()"
          class="mt-3">This
          node refers to a roadmap
        </mat-checkbox>
        <mat-form-field appearance="fill" class="d-block w-100 mt-2" *ngIf="referenceIdReq">
          <mat-select placeholder="Reference roadmap" formControlName="referenceId"
            [ngClass]="{ 'is-invalid': submitted && f['referenceId'].errors }">
            <mat-option *ngFor="let roadmap of roadmaps$ | async" [value]="roadmap._id">{{roadmap.title}}</mat-option>
          </mat-select>
          <div *ngIf="submitted && f['referenceId'].errors" class="invalid-feedback">
            <div *ngIf="f['referenceId'].errors['required']">Roadmap reference is a required field</div>
          </div>
        </mat-form-field>
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-6">
        <button tuiButton type="submit" appearance="primary" class="w-100">{{'btn.update' |
          translate}}</button>
      </div>
      <div class="col-6">
        <button tuiButton type="button" appearance="outline" class="w-100" (click)="emitToggle()">{{'btn.cancel' |
          translate}}</button>
      </div>
    </div>
  </form>
</div>
