::ng-deep {
  aside {
    .t-wrapper {
      width: 28rem !important;
      padding: 60px 30px 10px;
      overflow: auto;
    }
    .header {
      border: 0 !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-end {
      border-radius: 0 10px 10px 0 !important;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline-start {
      border-radius: 10px 0 0 10px !important;
      min-width: 10px !important;
    }
    button .t-wrapper {
      width: unset !important;
    }
  }
}
