::ng-deep {
  .e-contextmenu-wrapper ul,
  .e-contextmenu-container ul {
    outline: none !important;
  }

  .e-diagram-menu .e-copy::before {
    font-family: "Material Icons";
    content: "\e14d";
  }

  .e-diagram-menu .e-cut::before {
    font-family: "Material Icons";
    content: "\e14e";
  }

  .e-diagram-menu .e-order::before {
    font-family: "Material Icons";
    content: "\e16d";
  }

  .e-diagram-menu .e-paste::before {
    font-family: "Material Icons";
    content: "\e14f";
  }

  .e-diagram-menu .e-actions::before {
    font-family: "Material Icons";
    content: "\e8b8";
  }

  .e-diagram-menu .e-remove::before {
    font-family: "Material Icons";
    content: "\e872";
  }

  .e-contextmenu-wrapper ul .e-menu-item .e-caret::before,
  .e-contextmenu-container ul .e-menu-item .e-caret::before {
    font-family: "Material Icons";
    content: "\e5cc";
  }

  .e-contextmenu-wrapper ul.e-ul,
  .e-contextmenu-container ul.e-ul {
    font-family: unset;
    li span::before {
      content: unset;
    }
  }

  .e-contextmenu-wrapper ul .e-menu-item.e-menu-caret-icon,
  .e-contextmenu-container ul .e-menu-item.e-menu-caret-icon {
    outline: none !important;
  }

  tspan {
    fill: white;
  }
}
