<ejs-diagram #diagram id="diagram" width="100%" [height]="(isBelowSm$ | async).matches? '650px': '500px'"
  [getConnectorDefaults]='connDefaults' class="overflow-hidden absolute-wrapper" [getNodeDefaults]='nodeDefaults'
  [layout]='layout' (scrollChange)='scrollChange($event)' [contextMenuSettings]="contextMenuSettings"
  [snapSettings]="snapSettings" (contextMenuOpen)="contextMenuOpen($event)"
  (contextMenuClick)="contextMenuClick($event)" (collectionChange)="detectCollectionChange($event)"
  (connectionChange)="detectConnectionChange($event)" (selectionChange)="detectSelectionChange($event)"
  (created)="created($event)">
  <e-nodes>
    <e-node *ngFor="let node of nodes; index as i" [id]="node._id" [offsetX]="nodes.length ===1? 680: ''"
      [offsetY]="nodes.length === 1? 250: ''" [annotations]="node" [constraints]="nodeConstraints" [shadow]="shadow">
      <e-node-annotations>
        <e-node-annotation [id]="node._id" [content]="node.label">
        </e-node-annotation>
      </e-node-annotations>
    </e-node>
  </e-nodes>
  <e-connectors>
    <e-connector *ngFor="let connection of connections" [sourceID]="connection.parent" [targetID]="connection.id">
    </e-connector>
  </e-connectors>
</ejs-diagram>
