@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
:root {
  // Colors
  --tui-primary: #081158 !important;
  --tui-primary-active: #070f4d !important;
  // Fonts
  --tui-heading-font: "Baloo Bhaijaan 2", -apple-system, "BlinkMacSystemFont",
    system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif !important;
  --tui-text-font: "Baloo Bhaijaan 2", -apple-system, "BlinkMacSystemFont",
    system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif !important;

  @media (prefers-color-scheme: dark) {
    --tui-primary: #8f5acf !important;
    --tui-primary-hover: #bb86fc !important;
    --tui-primary-active: #a576de !important;
    --tui-accent: #03dac6 !important;
    --tui-accent-hover: #33aa9e !important;
    --tui-accent-active: #03c0ae !important;
    --tui-text-01: white !important;
    --tui-base-01: #2c2c2c !important;
  }
}

tui-wrapper[data-appearance="warn"] {
  border: 1px solid var(--ion-color-danger-shade);
  color: var(--ion-color-danger-shade);

  &[data-state="hovered"] {
    color: white;
    background: var(--ion-color-danger-shade);
  }

  &[data-state="pressed"] {
    background: var(--ion-color-danger);
    color: white;
  }

  &[data-state="disabled"] {
    background: #eaecee;
  }
}
