<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.processing' | translate}} </p>
</ngx-spinner>
<section class="container pt-5" @fade *ngIf="isLoaded">
  <div class="row">
    <div class="col-12 col-lg-6 align-self-center pt-5 pt-lg-0">
      <app-breadcrumb [crumbs]="crumbs"></app-breadcrumb>
      <h3 class="primary-color pt-2">{{'rdmap.updateTitle' | translate}}</h3>
      <p class="pt-3">{{'rdmap.updateDescription' | translate}}</p>
      <div class="row py-4">
        <div class="col">
          <!-- Form -->
          <form [formGroup]="roadmap" (ngSubmit)="submit()">
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="fill" class="d-block w-100">
                  <mat-label>{{'form.title' | translate}}</mat-label>
                  <input matInput placeholder="{{'placeholder.title' | translate}}" type="text" formControlName="title"
                    [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
                  <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                    <div *ngIf="f['title'].errors['required']">{{'validation.titleReq' | translate}}</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-12">
                <mat-form-field appearance="fill" class="d-block w-100">
                  <mat-label>{{'form.description' | translate}}</mat-label>
                  <textarea matInput rows="6" placeholder="{{'placeholder.description' | translate}}" type="text"
                    formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
                  <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                    <div *ngIf="f['description'].errors['required']">{{'validation.descriptionReq' | translate}}</div>
                  </div>
                </mat-form-field>
              </div>
              <div class="col pt-1">
                <div class="row justify-content-center justify-content-sm-start">
                  <div class="col-auto py-3">
                    <button tuiButton type="submit" appearance="primary">{{'btn.update' |
                      translate}}</button>
                  </div>
                  <div class="col-auto py-3">
                    <tui-hosted-dropdown [content]="dropdown" [(open)]="isOpen">
                      <button tuiButton type="button" appearance="secondary" [iconRight]="icon">
                        {{'btn.actions' | translate}}
                      </button>
                    </tui-hosted-dropdown>
                    <ng-template #icon>
                      <tui-svg src="tuiIconChevronDown" class="icon" [class.icon_rotated]="isOpen"></tui-svg>
                    </ng-template>
                    <ng-template #dropdown>
                      <tui-data-list>
                        <button tuiOption *ngIf="f['published'].value" (click)="unPublish()">{{ 'btn.unpublish' |
                          translate}}</button>
                        <button tuiOption *ngIf="!f['published'].value" (click)="publish()">{{ 'btn.publish' |
                          translate}}</button>
                        <button tuiOption routerLink="/panel/roadmaps/{{rdId}}/editor">{{'btn.openEditor' |
                          translate}}</button>
                      </tui-data-list>
                    </ng-template>
                  </div>
                  <div class="col-auto py-3">
                    <button tuiButton type="button" appearance="accent" class="no-focus"
                      [routerLink]="['/panel/roadmaps/questions-bank', rdId]">{{'QB' |
                      translate}}</button>
                  </div>
                  <div class="col-auto py-3">
                    <button tuiButton type="button" appearance="warn" class="no-focus"
                      (click)="openDialog()">{{'btn.delete' |
                      translate}}</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- Form -->
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 py-5 py-lg-0 align-self-center">
      <app-roadmap-thumb></app-roadmap-thumb>
    </div>
  </div>
</section>
