<nav aria-label="breadcrumb">
  <ol class="breadcrumb d-inline-flex">
    <li class="breadcrumb-item" *ngFor="let crumb of crumbs; last as isLast">
      <a class="nav-item" *ngIf="!isLast" routerLink="{{crumb.route}}">
        {{crumb.label | translate}}
      </a>
      <span *ngIf="isLast" [ngClass]="isLast? 'active' : ''">{{crumb.label | translate}}</span>
    </li>
  </ol>
</nav>
