<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.processing' | translate}} </p>
</ngx-spinner>
<section [dir]="direction">
  <h2 mat-dialog-title class="text-start">{{'rdmap.basic' | translate}}</h2>
  <p mat-dialog-content>{{'rdmap.information' | translate}}</p>
  <form [formGroup]="roadmap" (ngSubmit)="submit()">
    <div class="row pt-3">
      <div class="col-12">
        <label class="text-14 m-0">{{'form.departmentName' | translate}}</label>
        <mat-form-field appearance="fill" class="d-block w-100">
          <mat-select placeholder="{{'placeholder.name' | translate}}" formControlName="departmentId" [ngClass]="{ 'is-invalid': submitted && f['departmentId'].errors }">
            <mat-option *ngFor="let department of departments" [value]="department._id">{{department.name}}</mat-option>
          </mat-select>
          <div *ngIf="submitted && f['departmentId'].errors" class="invalid-feedback">
            <div *ngIf="f['departmentId'].errors['required']">{{'validation.departmentNameReq' | translate}}</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="d-block w-100">
          <mat-label>{{'form.title' | translate}}</mat-label>
          <input matInput placeholder="{{'placeholder.title' | translate}}" type="text" formControlName="title"
            [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
          <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
            <div *ngIf="f['title'].errors['required']">{{'validation.titleReq' | translate}}</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="fill" class="d-block w-100">
          <mat-label>{{'form.description' | translate}}</mat-label>
          <textarea matInput rows="6" placeholder="{{'placeholder.description' | translate}}" type="text"
            formControlName="description" [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"></textarea>
          <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
            <div *ngIf="f['description'].errors['required']">{{'validation.descriptionReq' | translate}}</div>
          </div>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div mat-dialog-actions align="end">
    <button mat-flat-button (click)="submit()" color="accent">{{'btn.create' | translate}}</button>
    <button mat-button (click)="cancel()" color="primary">{{'btn.cancel' | translate}}</button>
  </div>
</section>
