<section class="container pt-5 pt-lg-0 h-100" @fade>
  <div class="row pt-5">
    <div class="col text-center align-self-center">
      <tui-badge status="info" value="{{'badge.features' | translate}}" [hoverable]="true">
        <tui-svg src="tuiIconStarFilled"></tui-svg>
      </tui-badge>
      <h3 class="primary-color text-center pt-2">{{'landing.features.title' | translate}}</h3>
       <div class="row">
        <div class="col col-lg-6 offset-lg-3 text-center">
          <p class="pt-3 text-center">{{'landing.features.description' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row py-5 justify-content-center">
    <div *ngFor="let feature of features; index as i" style="--animation-order: {{i}};"
      class="col-12 col-sm-6 col-lg-4 text-center d-flex slide-top">
      <div class="features">
        <ion-icon name="{{feature.icon}}"></ion-icon>
        <div>
          <h4>{{feature.title | translate}}</h4>
          <p class="color-gray">{{feature.description | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
