<section [dir]="direction">
  <h2 mat-dialog-title class="text-start">{{title | translate}}</h2>
  <p mat-dialog-content>{{message | translate}}</p>
  <div mat-dialog-actions class="justify-content-center justify-content-sm-end">
    <button mat-button (click)="decline()" color="primary">{{'btn.cancel' | translate}}</button>
    <button mat-flat-button color="warn" (click)="confirm()" class="mt-2 mt-sm-0">{{actionMessage | translate}}</button>
  </div>
</section>
