<div class="row">
  <div class="col-auto align-self-center">
    <span>{{message | translate}}</span>
  </div>
  <div class="col align-self-center text-end">
    <mat-icon class="mt-1 pe-4">{{icon}}</mat-icon>
  </div>
</div>
