.profile-head {
  transform: translateY(16rem);
}

.cover {
  padding: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
