<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.gettingDepartments' | translate}} </p>
</ngx-spinner>
<section class="container pt-5 mt-4 mt-lg-0 pt-lg-0 h-100" @fade *ngIf="profile && statistics">
  <div class="row h-100">
    <div class="col-12">
      <div class="shadow rounded overflow-hidden">
        <div class="cover" [ngStyle]="{'background-image': 'url(' + profile.coverImage + ')'}">
          <div class="media align-items-end profile-head">
            <div class="profile mr-3">
              <img src="{{[profile.logo]}}" width="130" class="rounded mb-2 img-thumbnail">
            </div>
            <div class="media-body mb-5  size-18">
              <h4 class="mt-0 mb-0">{{profile.name}}</h4>
              <p class="small mb-4"> <i class="fa-solid fa-globe mr-2 pe-2"></i>{{profile.website}}</p>
            </div>
          </div>
        </div>
        <div class="bg-light p-4 d-flex justify-content-end text-center size-18">
          <ul class="list-inline mb-0">
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block">{{profile.numOfEmployees}}</h5><small class="text-muted">
                <i class="fa-solid fa-users ms-3 pe-2"></i>Employees</small>
            </li>
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block">{{statistics.departmentsCount}}</h5><small class="text-muted">
                <i class="fa-solid fa-building ms-3 pe-2"></i>Departments</small>
            </li>
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block">{{statistics.roadmapsCount}}</h5><small class="text-muted"> <i
                  class="fa-solid fa-signs-post ms-3 pe-2"></i>Roadmaps</small>
            </li>
            <li class="list-inline-item">
              <h5 class="font-weight-bold mb-0 d-block">{{statistics.followersCount}}</h5><small class="text-muted"> <i
                  class="fa-solid fa-heart ms-3 pe-2"></i>Followers</small>
            </li>
          </ul>
        </div>
        <div class="row mt-5">
          <div class="col">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
