mat-card-title {
  font-weight: 900;
}

.label {
  width: 100px;
  height: 40px;
  position: relative;
  background: var(--primary-color);
  transform: translateX(-17px);
  margin-bottom: 10px;
}

.label:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid var(--primary-color);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--ion-color-secondary);
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
}

.department-card {
  display: block;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  max-height: 230px;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: var(--ion-color-secondary);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }

  &:hover:before {
    transform: scale(37);
  }
}

.department-card:hover {
  p {
    transition: all 0.3s ease-out;
    color: white;
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}
