<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.gettingDepartments' | translate}} </p>
</ngx-spinner>
<app-empty-department *ngIf="isLoaded && !departments.length"></app-empty-department>
<section class="container pt-5 mt-4 mt-lg-0 pt-lg-0 h-100" @fade *ngIf="departments.length">
  <div class="row h-100">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let department of departments; index as i">
      <mat-card class="my-3 rounded mat-elevation-z4 p-0 department-card cursor-pointer" fxLayout="column" fxFlex="grow"
        routerLink="{{department._id}}">
        <div class="go-corner">
          <div class="go-arrow">
            <mat-icon class="pt-1">lightbulb</mat-icon>
          </div>
        </div>
        <mat-card-header class="d-block p-3">
          <div class="row">
            <div class="col">
              <div class="label">
                <div class="row h-100 align-items-center text-center">
                  <div class="col">
                    <p class="white-color text-uppercase">DP-{{i+1}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col align-self-center">
              <mat-card-title class="m-0 text-uppercase">{{department.name}}</mat-card-title>
              <mat-card-subtitle class="font-monospace m-1">{{department.createdAt | date: 'mediumDate'}}</mat-card-subtitle>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content class="p-3 my-auto">
          <p class="size-18">{{department.description}}</p>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
  <!-- *Add Button* -->
  <button mat-fab color="accent" class="bottom-right" routerLink="add-department">
    <mat-icon>add</mat-icon>
  </button>
  <!-- //Add Button -->
</section>
