<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'spinner.processing' | translate}} </p>
</ngx-spinner>
<ion-content>
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="row">
          <div class="col">
            <app-home-button></app-home-button>
          </div>
        </div>
        <div class="row py-5 px-3">
          <div class="col">
            <p>{{'auth.signupTitle' | translate}}</p>
            <p class="py-4 caption">
              {{'auth.signupCaption' | translate}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col pt-lg-2">
            <img class="pt-lg-5" src="assets/images/signUp.svg" alt="">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-8 light-bg">
        <app-stepper></app-stepper>
      </div>
    </div>
  </div>
</ion-content>
