<ngx-spinner color="#fff" type="ball-clip-rotate-multiple">
  <p style="color: white" class="mt-5"> {{'Getting Statistics' | translate}} </p>
</ngx-spinner>
<section class="container pt-5 mt-4 mt-lg-0 pt-lg-0 h-100" @fade *ngIf="isLoaded && statistics">
  <div class="row mx-1 pb-3">
    <div class="col-12 col-sm-6 col-xl-3 py-2">
      <app-stat-card [title]="'Roadmaps'" [stat]="statistics.roadmapsCount" [isUp]="true"
        [icon]="'fa-solid fa-building-columns'" [percentage]="'3.14%'" [phrase]="'Since last month'" [bg]="'bg-info'">
      </app-stat-card>
    </div>

    <div class="col-12 col-sm-6 col-xl-3 py-2">
      <app-stat-card [title]="'Departments'" [stat]="statistics.departmentsCount" [isUp]="true"
        [icon]="'fa-solid fa-user-graduate'" [percentage]="'7.8%'" [phrase]="'Since last week'" [bg]="'bg-success'">
      </app-stat-card>
    </div>

    <div class="col-12 col-sm-6 col-xl-3 py-2">
      <app-stat-card [title]="'Learners'" [stat]="statistics.activeLearnersCount" [isUp]="false"
        [icon]="'fa-solid fa-signs-post'" [percentage]="'1.42%'" [phrase]="'Since last week'" [bg]="'bg-danger'">
      </app-stat-card>
    </div>

    <div class="col-12 col-sm-6 col-xl-3 py-2">
      <app-stat-card [title]="'Followers'" [stat]="statistics.followersCount" [isUp]="false"
        [icon]="'fa-solid fa-signs-post'" [percentage]="'1.42%'" [phrase]="'Since last week'" [bg]="'bg-danger'">
      </app-stat-card>
    </div>
  </div>
  <h4 class="ps-3">Learners Activites</h4>
  <apx-chart class="px-5" #barChart [series]="barChartOptions.series" [chart]="barChartOptions.barChart"
    [xaxis]="barChartOptions.xaxis">
  </apx-chart>

  <h4 class="ps-3 mt-4">Followers per Department</h4>

  <apx-chart #pieChart class="px-5" [series]="pieChartOptions.series" [chart]="pieChartOptions.pieChart"
    [labels]="pieChartOptions.labels" [responsive]="pieChartOptions.responsive"></apx-chart>
</section>
