<section [dir]="direction">
  <h2 mat-dialog-title class="text-start">Add node information</h2>
  <p mat-dialog-content>Start by adding basic information for this node</p>
  <form [formGroup]="nodeForm" (ngSubmit)="submit()">
    <div class="row pt-3">
      <div class="col-12" *ngIf="this.nodes.length > 0">
        <label class="text-14 m-0">Node parents</label>
        <mat-form-field appearance="fill" class="d-block w-100">
          <mat-select placeholder="Node A, Node B, etc.." formControlName="parents" multiple #multiSelect
            [ngClass]="{ 'is-invalid': submitted && f['parents'].errors }">
            <mat-option>
              <ngx-mat-select-search [formControl]="bankMultiFilterCtrl" placeholderLabel="Find node..." noEntriesFoundLabel="'no matching node found'">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let node of filteredBanksMulti | async" [value]="node._id">{{node.label}}</mat-option>
          </mat-select>
          <div *ngIf="submitted && f['parents'].errors" class="invalid-feedback">
            <div *ngIf="f['parents'].errors['required']">Parents field is required</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="d-block w-100">
          <mat-label>{{'form.nodeLabel' | translate}}</mat-label>
          <input matInput placeholder="{{'placeholder.nodeLabel' | translate}}" type="text" formControlName="label"
            [ngClass]="{ 'is-invalid': submitted && f['label'].errors }">
          <div *ngIf="submitted && f['label'].errors" class="invalid-feedback">
            <div *ngIf="f['label'].errors['required']">{{'validation.labelReq' | translate}}</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12 pt-1 pb-4 px-3">
        <mat-label class="d-block py-2">{{'form.accessType' | translate}}</mat-label>
        <mat-radio-group formControlName="accessType" class="d-flex justify-content-between"
          [ngClass]="{ 'is-invalid': submitted && f['accessType'].errors }">
          <mat-radio-button *ngFor="let type of accessTypes" [value]="type.value">{{type.name}}
          </mat-radio-button>
        </mat-radio-group>
        <div *ngIf="submitted && f['accessType'].errors" class="invalid-feedback">
          <div *ngIf="f['accessType'].errors['required']">{{'validation.accessTypeReq' | translate}}</div>
        </div>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="d-block w-100">
          <mat-label>{{'form.requiredHoursToStudy' | translate}}</mat-label>
          <input matInput placeholder="{{'placeholder.requiredHoursToStudy' | translate}}" type="number" min="0"
            formControlName="requiredHoursToStudy"
            [ngClass]="{ 'is-invalid': submitted && f['requiredHoursToStudy'].errors }">
          <div *ngIf="submitted && f['requiredHoursToStudy'].errors" class="invalid-feedback">
            <div *ngIf="f['requiredHoursToStudy'].errors['required']">{{'validation.requiredHoursToStudyReq' |
              translate}}</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="d-block w-100">
          <mat-label>{{'form.quantityOfRequiredQ' | translate}}</mat-label>
          <input matInput placeholder="{{'placeholder.quantityOfRequiredQ' | translate}}" type="number" min="0"
            formControlName="quantityOfRequiredQ"
            [ngClass]="{ 'is-invalid': submitted && f['quantityOfRequiredQ'].errors }">
          <div *ngIf="submitted && f['quantityOfRequiredQ'].errors" class="invalid-feedback">
            <div *ngIf="f['quantityOfRequiredQ'].errors['required']">{{'validation.fieldReq' | translate}}</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-form-field appearance="outline" class="d-block w-100">
          <mat-label>{{'form.quantityOfOptionalQ' | translate}}</mat-label>
          <input matInput placeholder="{{'placeholder.quantityOfRequiredQ' | translate}}" type="number" min="0"
            formControlName="quantityOfOptionalQ"
            [ngClass]="{ 'is-invalid': submitted && f['quantityOfOptionalQ'].errors }">
          <div *ngIf="submitted && f['quantityOfOptionalQ'].errors" class="invalid-feedback">
            <div *ngIf="f['quantityOfOptionalQ'].errors['required']">{{'validation.fieldReq' | translate}}</div>
          </div>
        </mat-form-field>
      </div>
      <div class="col-12">
        <mat-checkbox [(ngModel)]="referenceIdReq" [ngModelOptions]="{standalone: true}" (change)="getRoadmaps()">This
          node refers to a roadmap
        </mat-checkbox>
        <mat-form-field appearance="fill" class="d-block w-100 my-3" *ngIf="referenceIdReq">
          <mat-select placeholder="Reference roadmap" formControlName="referenceId"
            [ngClass]="{ 'is-invalid': submitted && f['referenceId'].errors }">
            <mat-option *ngFor="let roadmap of roadmaps$ | async" [value]="roadmap._id">{{roadmap.title}}</mat-option>
          </mat-select>
          <div *ngIf="submitted && f['referenceId'].errors" class="invalid-feedback">
            <div *ngIf="f['referenceId'].errors['required']">Roadmap reference is a required field</div>
          </div>
        </mat-form-field>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button mat-flat-button type="sybmit" color="accent">{{'btn.create' | translate}}</button>
      <button mat-button (click)="cancel()" type="button" color="primary">{{'btn.cancel' | translate}}</button>
    </div>
  </form>
</section>
