/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

.slide-top {
  -webkit-animation: slide-top 0.8s calc(var(--animation-order) * 200ms)
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.8s calc(var(--animation-order) * 200ms)
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 1;
  }
}
