.btn-download {
  padding: 6px 20px;
  font-size: 15px;
  background: var(--ion-color-primary);
  color: var(--ion-color-secondary);
  border-radius: 30px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  &:hover {
    background: var(--ion-color-light);
    color: var(--ion-color-primary);
  }
}
