.primary-color {
  color: var(--ion-color-primary);
}

.accent-color {
  color: var(--ion-color-secondary);
}

.warn-color {
  color: var(--ion-color-danger);
}

.white-color {
  color: white;
}

.light-color {
  color: var(--ion-color-light);
}
