a.nav-item {
  position: relative;
  font-size: 16px;
  color: var(--ion-color-primary);
  text-decoration: none;
  &.active {
    color: var(--ion-color-secondary);
    &:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
    background-color: var(--ion-color-secondary);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

ion-app[dir="rtl"] {
  button[icon^="tuiIcon"] {
    tui-svg {
      margin: 0px 10px;
    }
  }
}

.font-monospace {
  font-family: monospace;
}
