app-navbar {
  display: none;
}

app-sidenav {
  display: block;
}

.bottom-right {
  position: fixed !important;
  right: 10px;
  bottom: 10px;
}

@media only screen and (min-width: 992px) {
  app-navbar {
    display: block;
  }

  app-sidenav {
    display: none;
  }

  .margin-top-step1 {
    margin-top: 120px;
  }

  .margin-top-action1 {
    margin-top: 140px;
  }

  .margin-top-step2 {
    margin-top: 90px;
  }

  .margin-top-action2 {
    margin-top: 90px;
  }

  .margin-top-action4 {
    margin-top: 50px;
  }

  .bottom-right {
    position: fixed !important;
    right: 40px;
    bottom: 20px;
  }
}
