.tty-100 {
  transform: translateY(100px);
}

.tty-10 {
  transform: translateY(10px);
}

.tty-2 {
  transform: translateY(2px);
}

.cursor-pointer {
  cursor: pointer;
}

.no-justify {
  * {
    text-align: unset;
  }
}

.mw-70 {
  min-width: 70px;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.bs-cover {
  background-size: cover;
}

.z-999 {
  z-index: 999;
}

.mt-n0-7 {
  margin-top: -0.7rem;
}

.mt-n0-1 {
  margin-top: -0.1rem;
}

.pt-10 {
  padding-top: 10rem;
}

.absolute-center {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}
