<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-company-sidenav-list (sidenavClose)="sidenav.close()"></app-company-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-company-navbar (sidenavToggle)="sidenav.toggle()"></app-company-navbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
